ntm_profiler_webserver/static/results/*
!ntm_profiler_webserver/.gitkeep
!ntm_profiler_webserver/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.txt
!ntm_profiler_webserver/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.json
!ntm_profiler_webserver/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.log
src/ntm_profiler_webserver/__pycache__
.vscode/
*.rdb
*errlog.txt
*.kmc*
*.vcf.gz*
*.list
*.bin
*.bam
ntm_profiler_webserver.egg-info/
ntm_profiler_webserver.egg-info/*.txt
build
malaria-db/
ntm_profiler_webserver/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
ntm_profiler_webserver/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
*.gz
*.fai
*.fna
*.gzi
ntm_profiler_webserver/static/fastafiles/AAKM01.fasta
ntm_profiler_webserver/static/fastafiles/malariae.fasta
*.fasta
*.log
*.bai
*.json
*.txt
