{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-4">
    Below are the details of your runs. You can click on the run ID to view the results.
    Make sure to bookmark this page so that you can return to it later.
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 p-4">
    {% if analysis_done %}
    <button class="btn btn-primary" onclick="downloadResults();">Download All Results</button>
    {% else %}
    <button class="btn btn-primary" disabled>Download All Results</button>
    {% endif %}
  </div>
</div>
<div class="row justify-content-center">
    
    <div class="col-md-8">

      {{ macros.generic_table(runs,{'link':'Run ID', 'files':'Files', 'status':'Status','species':'Species','closest-sequence':'Closest Sequence','ANI':'ANI','barcode':'Barcode'},"Submitted runs",True) }}
    </div>
</div>

<script>

    window.setInterval(function(){
      location.reload();
    }, 5000);

    function downloadResults() {
        window.location.href = "{{ url_for('main.download_results', analysis_id=analysis_id) }}";
    }
</script>
{% endblock %}
