{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

<style>


  .dropzone {
      background: white;
      border-radius: 5px;
      border: 2px dashed rgb(0, 135, 247);
      border-image: none;
      margin-left: auto;
      margin-right: auto;
  }
</style>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 p-4">
    <div class="pt-4 pb-4">
      Upload your next generation sequencing data in <b>fastq</b> or <b>fasta</b> format. Files will
      be processed using the NTM-Profiler pipeline with default parameters. You may
      select the technology used to generate the data (Illumina or Oxford Nanopore).
      Samples will be process with a first in first out policy so please be patient
      as there may be runs waiting to be processed before yours.
      
    </div>
    <div class="pb-4">
      <b>Please note:</b> at the moment we can only accomodate uploads of files under 4GB.
      If you have files which are larger or you require many	isolates to be processed
      and have access to a linux or macOS operating system then	it might be worthwhile
      to run the commandline version of NTM-Profiler. For more information on this please visit the
      <a href="https://github.com/jodyphelan/ntm-profiler/">github repository</a>.
    </div>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-10 p-2">      
      {{macros.file_dropper(random_id,species)}}
    </div>
  </div>  
</div>
</div>
{{ dbs }}

{% endblock %}
